@use 'sass-mq' as mq;

.swapi__character-card{
  width: 100%;
  border: 1px solid $yellow;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
}

.swapi__character-card-img{
  display: block;
  width: 100%;
  height: auto;
  border-radius: 15px;
}

.swapi__character-details-list{
  list-style: none;
  padding: 2rem 1rem;
  text-align: left;

  &--item{
    font-size: 14px;
    line-height: 1.1;
    margin-bottom: 5px;

    &:first-child{
      font-size: 18px;
      font-weight: 400;
    }
  }
}