/* Variables definitions
   ========================================================================== */
   $offWhite: #f6f6fa;
   $offGrey: #707070;
   $offBlack: #2e2e38;
   $midnightBlack: #1a1a24;
   $darkGray: #404040;
   $eyGrayLight: #e0e0e1;
   $yellow: #ffe600;
   $paleGrey: #e0e0e5;
   