/* Variables definitions
   ========================================================================== */
   $offWhite: #f6f6fa;
   $offGrey: #707070;
   $offBlack: #2e2e38;
   $midnightBlack: #1a1a24;
   $darkGrey: #404040;
   $eyGreyLight: #e0e0e1;
   $yellow: #ffe600;
   $paleGrey: #e0e0e5;
   $hoverYellow: rgba(255, 230, 0, 0.8);